
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  body{
    background-color: #A57Dff;
  }

  .form-box {
    width: 30%;
    margin: auto;
    background: #fff;
    padding: 40px;
    text-align: center;
    border : 2px solid black;
    margin-top: 5%;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
  }
  
  .form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
  
  input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
  }
  
  .input-field i {
    margin-left: 15px;
  }
  
  .btn-field {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  
  .btn-field button {
    background: #3c00a0;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 100%;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 18px;
  }
  
  .btn-field a {
    display: block;
    margin-top: 15px;
    color: #3c00a0;
    text-decoration: none;
    font-size: 16px;
  }
  
  .btn-field a:hover {
    text-decoration: underline;
  }
  @media screen and (max-width:936px) and (min-width:300px){
    .form-box{
      width: 70%;
    }
  }